
    <div class="contenedorTextCambiante">
      <h1 class="tituloPrincipal">Expande tus conocimientos</h1>
      <h1 class="item-1">AyiAcademy</h1>
      <h1 class="item-2">AyiGroup</h1>
      <h1 class="item-3">TeamWork</h1>
    </div>
    <div class="containerBox">
      <div class="boxRounded box1 shadow-lg"  routerLink="/quienesomos">
        <div class="boxText text-center align-bottom">
          <h6 class="text-gray">¿Quiénes?</h6>
          <h3>¿<strong class="text-white">Quiénes</strong> somos?</h3>
        </div>
      </div>
      <div class="boxRounded box2 shadow-lg" routerLink="/quehacemos">
        <div class="boxText text-center align-bottom">
          <h6 class="text-gray">¿Qué?</h6>
          <h3>¿<strong class="text-white">Qué <br></strong> hacemos?</h3>
        </div>
      </div>
      <div class="boxRounded box3 shadow-lg" routerLink="/porquehacemos">
        <div class="boxText text-center align-bottom">
          <h6 class="text-gray">¿Por qué?</h6>
          <h3>¿<strong class="text-white">Por qué</strong> lo hacemos?</h3>
        </div>
      </div>
    </div>
 
  
  <!-- Another div -->
  <div class="bg-2">
    <div class="shape1"></div>
    <h1 class="title2">¡Bienvenido Ayier!</h1>
    <hr class="hr1">
  
    <!-- Sección de los botones que cambian -->
    <div class="containerButtons">
      <div class="row">
        <div class="col col-md-4 col-lg-4 col-12 col-xs-12">
          <!-- Botones -->
          <ul class="ulButtons" >
            <li class="button0 selected" (click)="buttonSelect('button0')">
              <div class="containerCheckButton">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                </div>
                <div class="textButton">
                  <p>Sitio</p><h3> Oficcial</h3>
                </div>
              </div>
            </li>
            <li class="button1" (click)="buttonSelect('button1')" >
              <div class="containerCheckButton" >
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                </div>
                <div class="textButton">
                  <p>AYI</p><h3> Academy</h3>
                </div>
              </div>
            </li>
            <li class="button2" (click)="buttonSelect('button2')" >
              <div class="containerCheckButton" >
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                </div>
                <div class="textButton">
                  <p>AYI</p><h3> Research</h3>
                </div>
              </div>
            </li>
            <li class="button3" (click)="buttonSelect('button3')">
              <div class="containerCheckButton">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                </div>
                <div class="textButton">
                  <p>AYI</p><h3> Research</h3>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col col-md-8 col-lg-8 col-12 col-xs-12">
          <!-- Content botones -->
          <div *ngIf="selected == 'button0'">
            <div class="shape2">
              <div class="textCard">
                Ingresa a nuestra<h3>WEB!</h3>
                <a href="https://ayi.group/" target="_blank" class="btn btn-primary">Click Aca!</a>
                <div class="circle c1"></div>
              </div>
            </div>
            <div class="rectangle r1">
            </div>
          </div>
          <div *ngIf="selected == 'button1'">
            <div class="shape2">
              <div class="textCard">
                Ingresa a nuestra<h3> Academy</h3>
                <a href="/home" target="_blank" class="btn btn-primary">Click Aca!</a>
                <div class="circle c2"></div>
              </div>
            </div>
            <div class="rectangle r2">
            </div>
          </div>
          <div *ngIf="'button2' == selected">
            <div class="shape2">
              <div class="textCard">
                Market<h3> Research</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="circle c3"></div>
              </div>
            </div>
            <div class="rectangle r3">
            </div>
          </div>
          <div *ngIf="selected == 'button3'">
            <div class="shape2">
              <div class="textCard">
                Market<h3> Research</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="circle c4"></div>
              </div>
            </div>
            <div class="rectangle r4">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Termina sección de los botones que cambian -->
    
  </div>
  <!-- Another div -->
  <div class="bg-3">
    <div class="overflowhidden">
      <div class="shape3"></div>
      <div class="shape4"></div>
    </div>
    <div class="seccionVideo">
      <img src="../../../assets/images/redes.jpg" alt="" style="width:100%; height:500px; border-radius: 50px;">
    </div>
  </div>
  <router-outlet></router-outlet>
