
    <div class="containerPrincipal">
        <h1 class="tituloPrincipal">
            <strong class="text-white">¿Porque lo hacemos?</strong>
        </h1>
        <p class="parrafoPrincipal">
            “Transformar talentos en equipos basados en la confianza y apasionados por crear soluciones innovadoras que impacten positivamente a las personas”.
        </p>
    </div>
    <div class="containerCircles">
        <div class="circle c7">
            <div class="circle-inside c7-inside">
                <h5><strong>Foco talento</strong></h5>
                <p>Reconocemos tu crecimiento.</p>
            </div>
        </div>
        <div class="circle c2">
            <div class="circle-inside c2-inside">
                <h5><strong>Foco negocio</strong></h5>
                <p>Co-creamos círculos virtuosos a largo plazo con nuestros clientes.</p>
            </div>
        </div>
        <div class="circle c3">
            <div class="circle-inside c3-inside">
                <h5><strong>Foco cultura</strong></h5>
                <p>Mejorar la experiencia del Ayier</p>
            </div>
        </div>
        <div class="circle c4">
            <div class="circle-inside c4-inside">
                <h5><strong>Foco cultura</strong></h5>
                <p>Mejorar la experiencia del Ayier</p>
            </div>
        </div>
        <div class="circle c5">
            <div class="circle-inside c5-inside">
                <h5><strong>Foco procesos</strong></h5>
                <p>Trabajamos con la mejora continua</p>
            </div>
        </div>
        <div class="circle c6">
            <div class="circle-inside c6-inside">
                <h5><strong>Foco cultura</strong></h5>
                <p>Mejorar la experiencia del Ayier</p>
            </div>
        </div>
    </div>
    <div class="bg-2">
        <div class="shape3"></div>
        <div class="shape4"></div>
        <h1 class="tituloSecundario"><strong>La mejor opcion para crecer en conocimientos <br> & alcanzar las metas deseadas</strong></h1>
        <p class="parrafoSecundario">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ex corporis, mollitia quia rem est magni labore voluptatibus
             non molestias maxime!</p>
    </div>