<div class="bg">
    <div class="containerPrincipal">
        <h1 class="tituloPrincipal">
            <strong class="text-white">Lorem ipsum</strong> dolor sit.
        </h1>
        <p class="parrafoPrincipal">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, 
            hic accusantium ullam labore cumque deleniti officiis explicabo 
            eius eum sequi veniam iure unde impedit suscipit itaque tempore 
            aut aspernatur id.
        </p>
        <a class="btn btn-success botonPortada">Leer más</a>
    </div>
    <div class="containerCircles">
        <div class="circle c1">
            <div class="circle-inside c1-inside">
                <h5><strong>Foco talento</strong></h5>
                <p>Reconocemos tu crecimiento.</p>
            </div>
        </div>
        <div class="circle c2">
            <div class="circle-inside c2-inside">
                <h5><strong>Foco negocio</strong></h5>
                <p>Co-creamos círculos virtuosos a largo plazo con nuestros clientes.</p>
            </div>
        </div>
        <div class="circle c3">
            <div class="circle-inside c3-inside">
                <h5><strong>Foco cultura</strong></h5>
                <p>Mejorar la experiencia del Ayier</p>
            </div>
        </div>
        <div class="circle c4">
            <div class="circle-inside c4-inside">
                <h5><strong>Foco cultura</strong></h5>
                <p>Mejorar la experiencia del Ayier</p>
            </div>
        </div>
        <div class="circle c5">
            <div class="circle-inside c5-inside">
                <h5><strong>Foco procesos</strong></h5>
                <p>Trabajamos con la mejora continua</p>
            </div>
        </div>
        <div class="circle c6">
            <div class="circle-inside c6-inside">
                <h5><strong>Foco cultura</strong></h5>
                <p>Mejorar la experiencia del Ayier</p>
            </div>
        </div>
        <div class="circle c7">
            <div class="circle-inside c7-inside">
                <h5>Hola</h5>
                <p>Si, como dice arriba, hola.</p>
            </div>
        </div>
    </div>
    <div class="bg-2">
        <div class="shape3"></div>
        <div class="shape4"></div>
        <h1 class="tituloSecundario"><strong>La mejor opcion para crecer en conocimientos <br> & alcanzar las metas deseadas</strong></h1>
        <p class="parrafoSecundario">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ex corporis, mollitia quia rem est magni labore voluptatibus
             non molestias maxime!</p>
    </div>
</div>