<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="https://ayi.group/"><img src="../../../assets/images/logo2.png" alt="Logo AYIGROUP"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="btn btn-primary active" aria-current="page" href="home" type="button">Home</a>
        </div>
    </div>
        <a class="nav-link active text-white btnNavMoodle" aria-current="page" href="#"><img src="../../../assets/images/AyiAcademy-White.png" alt="Logo AYI Academy" height="30px"></a>
    </div>
  </nav>