<div class="contaniner-fluid bg-1">
  <app-nav></app-nav>
  <h1 class="tituloPrincipal">Expande tus conocimientos</h1>
  <h1 class="textoCambiante">ESTE TEXTO CAMBIA</h1>

  <div class="containerBox">
    <div class="boxRounded box1 shadow-lg">
      <div class="boxText text-center align-bottom">
        <h6 class="text-gray">¿Quiénes?</h6>
        <h3>¿<strong class="text-white">Quiénes</strong> somos?</h3>
      </div>
    </div>
    <div class="boxRounded box2 shadow-lg">
      <div class="boxText text-center align-bottom">
        <h6 class="text-gray">¿Qué?</h6>
        <h3>¿<strong class="text-white">Qué <br></strong> hacemos?</h3>
      </div>
    </div>
    <div class="boxRounded box3 shadow-lg">
      <div class="boxText text-center align-bottom">
        <h6 class="text-gray">¿Por qué?</h6>
        <h3>¿<strong class="text-white">Por qué</strong> lo hacemos?</h3>
      </div>
    </div>
  </div>
</div>