
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <div class="logo d-flex align-items-center">
              <img src="assets/img/logo.png" alt="">
              <span>AYIGROUP</span>
            </div>
            <p>Copyright@ AyiGroup 2021</p>
            <div class="social-links mt-3">
              <a href="https://www.linkedin.com/company/ayigroup/mycompany/" class="linkedin" target="_blank"><img src="../../../assets/images/linkedin.png" alt="link a linkedin"></a>
              <a href="https://www.instagram.com/ayi.group/" class="instagram" target="_blank"><img src="../../../assets/images/instagram.png" alt="link a instagram"></a>
              <a href="https://www.facebook.com/AYIGROUP" class="facebook" target="_blank"><img src="../../../assets/images/fb.png" alt="link a facebook"></a>
              <a href="https://www.youtube.com/channel/UCVp79aoTmjW500iAkjRT9DA?view_as=subscriber" class="youtube" target="_blank"><img src="../../../assets/images/youtube.png" alt="link a youtube"></a>
              <a href="https://twitter.com/ayi_group" class="twitter" target="_blank"><img src="../../../assets/images/twitter.png" alt="link a twitter"></a>
              <a href="https://open.spotify.com/show/2WzJUSpRTR1SYRATYZ4el5" class="spotify" target="_blank"><img src="../../../assets/images/spotify.png" alt="link a spotify"></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/home">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/quienesomos">Quienes Somos</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/quehacemos">Que Hacemos</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/porquehacemos">Porque lo Hacemos</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contacto</h4>
            <p>
              Antonio del Viso 658 - B° <br>
              Alta Cordoba, Cordoba<br>
              Argentina <br><br>
              <strong>Tel:</strong> (54-351) 4711900 / 4711555 / 4712200<br>
            </p>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->