<div class="containerPrincipal">
  <h1 class="tituloPrincipal">
    <strong class="text-white">¿Como lo hacemos?</strong>
  </h1>
  <p class="parrafoPrincipal">
    Para cumplir con las premisas de tiempo y resultados, procuramos monitorear,
    atender y accionar cada tarea que desempeñamos de manera proactiva.
    <strong> ¡Tu iniciativa hace la diferencia!</strong>
  </p>
</div>
<div class="bg-2">
    <div class="shape3"></div>
    <div class="shape4"></div>
    <h1 class="tituloSecundario"><strong>Soporte Interno</strong></h1>
    <p class="parrafoSecundario">AYIGROUP </p>
    <img src="../../../assets/images/soporteinterno.png" alt="imagen 1 foco talento " class="imgtalento1" style="width: 800px; height:450px;"/>
</div>
<div class="bg-2">
    <div class="shape3"></div>
    <div class="shape4"></div>
    <h1 class="tituloSecundario"><strong>CAOS</strong></h1>
    <p class="parrafoSecundario">AYIGROUP</p>
    <img src="../../../assets/images/caos.png" alt="imagen 1 foco talento " class="imgtalento1" style="width: 800px; height:450px;"/>
</div>
<div class="bg-2">
    <div class="shape3"></div>
    <div class="shape4"></div>
    <h1 class="tituloSecundario"><strong>Jira</strong></h1>
    <p class="parrafoSecundario">AYIGROUP</p>
    <img src="../../../assets/images/jira.png" alt="imagen 1 foco talento " class="imgtalento1" style="width: 800px; height:450px;"/>
</div>

